body{
    background-color: #E5E5E5;
  
}
.alrt1{
    color: #FF6652;
    font-family: Metropolis;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 20px;
letter-spacing: 0em;
text-align: left;

   
}
.firsth1{
    font-size: 63px;
    font-weight: 700,bold;
    font-family: Metropolis;
}
/* searchbar1css */
.btns1{
    background-color:  #9C4DF4;
    
}
.cartAcc{
    
   margin-left: 400px;

}
.visitbtn{
    background-color:  #9C4DF4;
   

}

.btn3highschool{
    background: #FF6652;

}
.btn1:hover,.btn2:hover{
    background-color: #FF6652;
}
.cardbtn{
    color:#9C4DF4;
}
.cardbtn:hover{
    background-color: #9C4DF4;
    color: #ffffff;
}
.secondh1{

    font-size: 45px;
    font-weight: 700,bold;
    font-family: Metropolis;  
}
.secd{
    background-color:  #EDE9F2;
    ;
}
.secdpic{
    margin-left: -150px;
}
.clgl{
    color: #9C4DF4;
    
}
.fh1{
    
width: 435px;
height: 165px;
font-family: 'Metropolis';
font-style: normal;
font-weight: 700;
font-size: 45px;
line-height: 55px;
}
.Gbac{
    background-color: #0A033C; 
    
   
    
    
}
.Subscribebtn{
    background-color: #9C4DF4;
}
.inputclr{
    background-color: #0A033C;
}
.Gsearch {
    margin-left: 280px;
}





